// COLORS
$color-primary-light: #73d7e0;
$color-primary-medium: #38c0ca;
$color-primary-dark: #205ac6;
$color-secondary-light: #ccabc0;
$color-secondary-dark: #a86e84;
$color-tertiary-light: #aedcc0;
$color-tertiary-dark: #3ac292;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-gray-lightest: #f7f7f7;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//FONT
$default-font-size: 1.6rem;
